@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  font-family: "Commissioner", sans-serif;
  color: #000;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 88px;
}
h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
}
h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
}
button {
  color: #fff;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  padding: 22px 44px;
  background-color: #f94f4f;
}
.red {
  color: #f94f4f;
}
#main-container {
  background-color: #ffffff;
  max-width: 1440px;
  width: 100vw;
  height: 100%;
}
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  padding-left: 165px;
  width: 40%;
}
.nav-links {
  padding-left: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 165px;
  background: #f94f4f;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.nav-links li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.nav-links button {
  background-color: #191921;
}
.hero {
  background: url("assets/desktop/image-hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 800px;
}
.hero-info {
  padding-left: 165px;
  margin-top: 112px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

#details {
}
.detail-1 {
  height: 980px;
  width: 100%;
  background: #191921;
  display: flex;
}
.detail-1-img {
  background: url(assets/desktop/image-strategic.jpg);
  background-position: left;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}
.detail-1-info {
  overflow-x: hidden;
  height: 784px;
  color: #ffffff;
  width: 50%;
  background-color: #191921;
}

.detail-1-info-div {
  width: 60%;
  height: 100%;
  margin-left: 150px;
  /* padding: 200px 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 45px;
}
.design-btn {
  padding: 0;
  padding-bottom: 10px;
  background-color: #191921;
  color: #f94f4f;
  border-bottom: 2px solid #f94f4f;
}
.detail-2 {
  height: 900px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  position: relative;
  /* justify-content: center; */
  align-items: center;
}
.detail-2-info {
  width: 50%;
  margin-left: 165px;
  z-index: 10;
}
.detail-2-info-points {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f94f4f;
  width: 60%;
  height: 1100px;
}
.points-box {
  color: #ffffff;
  margin-left: 300px;
  width: 40%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.points {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.points h3 {
  position: relative;
  z-index: 10;
}
.points span {
  position: absolute;
  top: -45px;
  left: -60px;
  color: #fff;
  font-family: Commissioner;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px;
  opacity: 0.25;
  z-index: 0;
}

.detail-3 {
  height: 728px;
  width: 100%;
  display: flex;
}
.detail-3-info {
  width: 40%;
  height: 528px;
  background-color: #191921;
  z-index: 10;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 165px;
  gap: 50px;
}
.detail-3-img {
  position: absolute;
  right: 0;
  z-index: 0;
  width: 60%;
  height: 728px;
  background: url("assets/desktop/image-slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  color: #fff;
}
.detail-3-img-info {
  margin-right: 150px;
  margin-bottom: 60px;
  text-align: right;
}
#footer {
  padding: 120px 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
